.scrollingLines {
  animation: move 30s linear infinite;
}

.scrollingLinesReverse {
  animation: moveReverse 30s linear infinite;
}

@keyframes move {
  0% {
      transform: translateX(20%);
  }
  100% {
      transform: translateX(-20%);
  }
}

@keyframes moveReverse {
  0% {
      transform: translateX(-20%);
  }
  100% {
      transform: translateX(20%);
  }
}

@media (max-width: 1024px) {
  .scrollingLines {
      animation: moveDesktop 30s linear infinite;
  }
  .scrollingLinesReverse {
    animation: moveDesktop 30s linear infinite;
  }
  @keyframes moveDesktop {
      0% {
          transform: translateX(0%);
      }
      100% {
          transform: translateX(-20%);
      }
  }
  @keyframes moveDesktopReverse {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}
}
