
.scrollingLines {
    animation: move 30s linear infinite;
  }
    .scrollingLinesReverse {
        animation: moveReverse 30s linear infinite;
    }
  @keyframes move {
    0% {
      transform: translateX(20%);
    }
    100% {
      transform: translateX(-20%);
    }
    
  }
  @keyframes moveReverse {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(20%);
    }
    
  }